[submodule "social_nav_bringup"]
	path = social_nav_bringup
	url = https://github.com/robby-404canfind/social_nav_bringup.git
	branch = agentic-vla
[submodule "system_interfaces"]
	path = system_interfaces
	url = https://github.com/robby-404canfind/system_interfaces.git
	branch = agentic-vla
[submodule "perception_bringup"]
	path = perception_bringup
	url = https://github.com/robby-404canfind/perception_bringup.git
	branch = agentic-vla
[submodule "system2_bringup"]
	path = system2_bringup
	url = https://github.com/robby-404canfind/system2_bringup.git
	branch = agentic-vla
